{% load static %}

<!DOCTYPE html>
<html>
  <head>
    
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">  

  </head>
  <body>
    <nav class="zone hero sticky">
        <ul class="main-navigation">
          <li><a href="/home" class="cta-btn cta-btn--resume-active">Startseite</a></li>
          <li><a href='/subsite' class="cta-btn cta-btn--resume">Unterseite</a></li>
          <li class="_push">
            <form class="cta-btn cta-btn--resume" method="GET">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Suchen" name="Search-Content">
            </form>
          </li>
        </ul>
    </nav>
    <div class="mycontainer white zone">

      <div class="container-fluid" style="padding: 0px 30px;">
        <div class="row bg-white has-shadow justify-content-center row-title">
            <div class="col-auto">
                <h2 class="sub-header" style="text-align: center;">Error 404</h2>
              </div>
        </div>
        <div class="row bg-white justify-content-center has-shadow">
            <h2 class="sub-header" style="text-align: center;">Die gewünschte Seite existiert leider nicht (mehr)</h2>
        </div>
      </div>
         
    </div>
    <div class="zone content grid-wrapper">
      <!-- space for new stuff -->
    </div>
    <footer class="footer main main-navigation">
      <a href="https://github.com/papstchaka" target="_blank" class="signature cta-btn cta-btn--resume-active _push">[2020] Alexander Christoph</a>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  </body>
</html>